<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Simple CloudCannon Page</title>
</head>
<body>

  <h1 data-editable="text">
    Welcome to Our Site
  </h1>

  <p data-editable="text">
    We provide amazing digital solutions for agencies.
  </p>

  <p data-editable="text">
    Contact us for more information.
  </p>

</body>
</html>
