<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Simple Page</title>
</head>
<body>

  <h1>
    <span data-cms="text">Welcome to Our Site</span>
  </h1>

  <p>
    <span data-cms="text">
      We provide amazing digital solutions for agencies.
    </span>
  </p>

  <p>
    <span data-cms="text">
      Contact us for more information.
    </span>
  </p>

</body>
</html>
